/* Style the body and outer container */

body {
  color: #333;
  background-color: #e7717d;
  font-family: Calibri, Helvetica, Arial, sans-serif;
  line-height: 1.5em;
}

 a {
	color: #5496cf;
}

.container{
  background: #fff;
  margin: 20px auto;
  padding: 20px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

.navbar-default {
	background-color:#c2b9b0;

}

/*horizontal lines for collapsed menu in small screeens*/

hr.hr-menu{
	margin:0;
}

hr.hr-menu-last{
	display:none;
}

@media (min-width:768px){
hr.hr-menu{
		display:none;
}
}

#footer {
  border-top: 1px solid #e7717d;
  margin-top: 40px;
  padding: 20px 0 0 0;
  font-size: .8em;
}


/* Headings */

h1 {
  color: #7e685a;
  margin-bottom: 30px;
  line-height: 1.2em;
}

h2, h2 a {
  color: #664d3e;
}

h2 a {
  text-decoration: none;
}


/* Article headlines */

.headlines {
  color: #7e685a;
}

@media (min-width: 768px){
	.headlines .col-sm-2 h2 {
		text-align: center;
	}
}

.headlines  a:hover{
	text-decoration:none;
	color: inherit;
}

.headlines .col-sm-2 h2{
	font-size: 1.5em;
	margin-top: 1.5em;
}

.pub-date {
  margin-top: 20px;
  font-size: 0.8em;
  font-weight:bold;
  color: #afd274;
  text-transform: uppercase;
}

/*
#headlines .pub-date {
  display: inline-block;
  width: 100px;
  font-size: .5em;
  vertical-align: middle;
}

#headlines.archive .pub-date {
  width: 130px;
}*/

@media (min-width: 768px){ 
	.view-article {
		width: 75%;
    }
}

#outline {
	font-style: italic;
	margin-bottom: 10px;
}


/* Style the form  */


.panel {
		
	  margin: 20px auto;
	  padding: 40px 20px;
	  overflow: auto;
	  background: #e5e1df;
	  border: none;
	  -moz-border-radius: 5px;
	  -webkit-border-radius: 5px;  
	  border-radius: 5px;
	  -moz-box-shadow: 0 0 .2em rgba(0,0,0,0.8);
	  -webkit-box-shadow: 0 0 .2em rgba(0,0,0,0.8);
	  box-shadow: 0 0 .3em rgba(0,0,0,0.8);
	}
	
@media (min-width:768px){
	.panel{
		width:50%;
	}
}

.edit-article{
	width: 100%;	
}

/* Style the form elements with margin, padding and line height */


/* The fields */
@media (min-width:768px){
	input.form-control, textarea.form-control, select.form-control{
	  width: 80%;
	}
}

.panel input.form-control, .panel textarea.form-control, .panel select.form-control{
  box-shadow: 0 0 .3em rgba(0,0,0,0.8); 
  border: none;
}

.panel input.form-control:focus, .panel textarea.form-control:focus, .panel select.form-control{
	border: 1px solid #68a600;
  outline: none;
}

label.input-label {
	color:#7b6a5a;
}

@media (min-width:768px){
	label.right-align{
		text-align: right;
	}
}

.top-buffer{
	margin-top:40px;
}

button[type="submit"] {
  
  -moz-box-shadow: 0 0 .2em rgba(0, 0, 0, .8);
  -webkit-box-shadow: 0 0 .2em rgba(0, 0, 0, .8);
  box-shadow: 0 0 .2em rgba(0, 0, 0, .8);
  color: #fff;
  background: #afd274;
  font-weight: bold;
  -webkit-appearance: none;
}

button[type="submit"]:hover, input[type="submit"]:active {
  cursor: pointer;
  background: #fff;
  color: #507f00;
}

button[type="submit"].btn:focus, button[type="submit"].btn:active {
  background: #eee;
  outline:none;
  -moz-box-shadow: 0 0 .2em rgba(0, 0, 0, .8) inset;
  -webkit-box-shadow: 0 0 .2em rgba(0, 0, 0, .8) inset;
  box-shadow: 0 0 .2em rgba(0, 0, 0, .8) inset;
}


/* Tables */

th {
  
  background: #afd274;
  color: #fff;
  cursor: default;
}

.table-striped tr:nth-child(odd) td{
  background: #f9f9f9;
}

.table-striped tr:nth-child(even) td {
  background: #fff;
}

.table-hover tbody tr:hover td{
  background-color: #f3f3f3;
  cursor: pointer;
} 


